<div class="text-center message-container">
	<h1>What do you want for your dogecoin?</h1>
	<input type="text" id="form" placeholder="Steam gift cards" data-autosize-input='{ "space": 40 }'>
	<input type="submit" id="submit" value="Submit" onclick="submit();">
	<!-- <div class="container">
		<div class="alert alert-success">Got it! Thanks for your thoughts. Feel free to add another suggestion if you want.</div>
	</div> -->
</div>
<script src="https://cdn.firebase.com/js/client/1.1.0/firebase.js"></script>
<script>
	var fb = new Firebase("https://doge-ideas.firebaseio.com");
	function submit() {
		if ($('#form').val().length != 0) {

			var idea = $('#form').val()
			var timestamp = new Date($.now());
			fb.push({ idea: idea, timestamp: timestamp });
			$('#form').val("");
			$('#submit').notify("Got it! Thanks for your thoughts. Feel free to add another suggestion if you want.", "success")
		} else{
			$('#submit').notify("I don't think there's anything in that form :/")
		};
	}
</script>
