/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.background {
	background: rgb(29,28,26);
}
.message-container {
	/*border: 2px rgba(242,165,31,0.5) solid;*/
	border-radius: 1em;
	color: white;
	margin-left: auto;
	margin-right: auto;
}
input {
	background: rgba(255,255,255,0.1);
	border: none;
	border-bottom: 1px rgba(255,255,255,0.2);
	font-size: 2em;
	outline: none;
	text-align: center;
	transition: width 0.3s;
}
input:focus {
	background: rgba(255,255,255,0.2);
}